/**
 * Github: https://github.com/hieptl/netflix-clone.
 * Dev.to: https://dev.to/hieptl/learn-react-by-building-netflix-1127
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
}

.app {
  background-color: #111;
}

.row {
  color: #fff;
  margin-left: 20px;
}

.row__posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px 0 20px 0;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  margin-right: 10px;
  max-height: 100px;
  object-fit: contain;
  opacity: 0.8;
  transition: transform 0.45s;
  width: 100%;
}

.row__poster:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  opacity: 1;
  transform: scale(1.09);
}

.banner {
  background-image: url("https://image.tmdb.org/t/p/original//hVMoqvXs5j9ffun56tZ5YhliSD9.jpg");
  background-position: center center;
  background-size: cover;
  color: #fff;
  height: 448px;
  object-fit: contain;
}

.banner__contents {
  height: 190px;
  margin-left: 30px;
  padding-top: 140px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  font-size: 16px;
  height: 80px;
  line-height: 1.3;
  line-height: 24px;
  max-width: 360px;
  padding-top: 1rem;
  width: 45rem;
}

.banner__button {
  background-color: rgba(51, 51, 51, 0.5);
  border: none;
  border-radius: 0.2vw;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  margin-right: 1rem;
  outline: none;
  padding: 0.5rem 2rem;
}

.banner__button:hover {
  background-color: #e6e6e6;
  color: #000;
  transition: all 0.2s;
}

.banner--fadeBottom {
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  height: 7.4rem;
}

.nav {
  background: #111;
  display: flex;
  height: 30px;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  width: 100%;
  z-index: 1;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  left: 20px;
  width: 80px;
}

.nav__avatar,
.nav__logo {
  object-fit: contain;
  position: fixed;
}

.nav__avatar {
  right: 20px;
  width: 30px;
}

.main {
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/11c803d4-06f3-467e-91f7-0560ce15a396/5ac22c62-f87e-45e3-8746-418d647185c9/VN-en-20210517-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-size: cover;
  min-height: 100vh;
}

.login-body {
  align-items: center;
  display: grid;
  justify-content: center;
  min-height: 100vh;
}

.login-body__form {
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  margin-top: 62px;
  max-width: 420px;
  min-width: 420px;
  padding: 48px 62px;
}

.login-body h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 28px;
}

.login-body__input input {
  background: #333;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  outline: none;
  padding: 16px 20px;
  width: 86%;
}

.mb-16 {
  margin-bottom: 16px;
}

.login-body__submit-btn {
  background: #e50914;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-top: 32px;
  outline: none;
  padding: 16px;
  width: 100%;
}

.login-body__submit-btn:hover {
  cursor: pointer;
}

.login-body__options {
  color: #b3b3b3;
  display: grid;
  font-size: 13px;
  font-weight: 500;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 48px;
  margin-top: 12px;
}

.login-body__options:hover {
  cursor: pointer;
}

.login-body__need-help {
  text-align: right;
}

.login-body__fb {
  align-items: center;
  color: #b3b3b3;
  display: grid;
  font-size: 13px;
  grid-template-columns: min-content auto;
}

.login-body__fb:hover {
  cursor: pointer;
}

.login-body__fb img {
  height: 20px;
  margin-right: 12px;
  width: 20px;
}

.login-body__new-to-nl {
  color: #737373;
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
}

.login-body__sign-up {
  color: #fff;
}

.login-body__sign-up:hover {
  cursor: pointer;
}

.login-body__google_captcha {
  color: #8c8c8c;
  font-size: 13px;
  margin-top: 16px;
}

.login-body__learn-more {
  color: #0071eb;
}

.login-body__learn-more:hover {
  cursor: pointer;
}

.detail {
  background: #111;
  bottom: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 450px;
  z-index: 999;
}

.detail__image {
  align-items: end;
  background-position: center center;
  background-size: cover;
  display: grid;
  height: 282px;
  width: 100%;
}

.detail__title {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 24px;
  padding-left: 24px;
  z-index: 3;
}

.detail__fade-image {
  position: absolute;
  top: 164px;
  width: 100%;
}

.detail__actions {
  padding: 12px;
  padding-left: 24px;
}

.detail__btn {
  background: #e50914;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  outline: none;
  padding: 8px 32px;
}

.detail__btn:hover {
  background: #e74c3c;
}

.detail__btn:hover {
  cursor: pointer;
}

.detail__description {
  color: #fff;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: justify;
}

.mgr-8 {
  margin-right: 8px;
}

.detail__description-title {
  border-bottom: 2px solid #e50914;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 12px;
  padding: 12px 0px;
}

.detail__description-content {
  font-size: 14px;
}
